{% extends 'base.html.twig' %}

{% block title %} {{ figure.name }}{% endblock %}
{% block description %} Page de présentation d'une figure : {{ figure.name }}{% endblock %}
{% block image %} {{ asset('/images/uploads/figures') }}/{{ figure.images.0.name }} {% endblock %}
{% block type %} Article {% endblock %}
{% block url %} {{ url('show_figure', { slug: figure.slug}) }} {% endblock %}


{% block class %}class="presentation-body"{% endblock %}

{% block body %}

    <section class="figure-presentation-page col-8 mx-auto d-flex flex-column align-items-center" >
       <div class="figure-title col-8 col-md-6 mx-auto p-3 p-md-4 p-lg-5 text-center"> 
                <h2>Le {{ figure.name }}</h2>	
        </div> 
        <div class="container first-image ">  
            <a href="{{ asset('/images/uploads/figures') }}/{{ figure.images.0.name }}">
                <img src="{{ asset('/images/uploads/figures') }}/{{ figure.images.0.name }}" class="card-img-top" alt="{{ figure.images.0.alt }}">
            </a>
            
        </div>
        <div class="media d-flex flex-wrap mt-4 mb-2">
            {% for image in figure.images %}
                <div class="image-media-element d-flex align-items-center">
                    <a href="{{ asset('/images/uploads/figures') }}/{{ image.name }}">
                        <img src="{{ asset('/images/uploads/figures') }}/{{ image.name }}" alt="{{ image.alt }}">
                    </a>
                </div>
            {% endfor %}
            {% for video in figure.videos %}
                <div class="video-media-element d-flex align-items-center">
                    <iframe width="200" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
        <div class="figure-description col-10">
            <p class="p-4 my-2" > {{ figure.description }} </p>
        </div> 
        <div class="figure-info d-flex mb-3">
            <div class="figure-info-element badge">
                Groupe : {{ figure.figureGroup }}
            </div>
            <div class="figure-info-element badge">
                Créée le : {{ figure.createdAt|format_datetime('short', 'none', locale='fr') }}
            </div>
             {% if figure.updatedAt is not empty %}
            <div class="figure-info-element badge">
                Modifiée : {{ figure.updatedAt|format_datetime(locale='fr') }}
            </div>
             {% endif %}
        </div>

        {% if app.user.username is not defined %}
            <div class="leave-comment col-8 d-flex mb-4 justify-content-center">
                    <div class="comment-form col-9">
                        {{ form_start(comment_form, {
                            'attr' : {
                                'nonvalidate': 'nonvalidate',
                                'class': 'col-12 d-flex flex-row justify-content-between align-items-end'
                            }
                        }) }}
                        {{ form_row(comment_form.message, {
                            'attr' : {
                                'class': 'comment-field',
                                'cols': '47',
                                'rows': '1'
                            }
                        }) }}
                        <button type="submit" class="button col-4 btn">Laisser un commentaire</button>
                        {{ form_end(comment_form)}}
                    </div>
            </div>
        {% endif %}

        <div class="figure-comments col-6">
            {% for comment in comments %}
                <div class="row comment">
                    <div class="comment-userphoto col-2">
                        <img src="{{ asset('/images/uploads/users') }}/{{ comment.user.userPhoto }}" alt="Avatar de {{ comment.user.username }}">
                    </div>
                    <div class="comment-datas col-10 p-2">
                        <h4 class="comment-header">{{ comment.user.username }} <span class="date">le {{ comment.createdAt|format_datetime(locale='fr') }} </span></h4>
                        <p class="comment-message">{{ comment.message }}</p>
                    </div>  
                </div>
            {% endfor %}
            <div class="arrows mb-3 d-flex flex-row justify-content-center">
                <div>
                    {% if previous >= 0 %}
                        <a class="m-3" href="{{ path('show_figure', { slug: figure.slug, offset: previous  }) }}">
                    {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="50.5" height="50.5">
                                <g>
                                    <path class="{% if previous >= 0 %}frame{% else %}frame-disabled{% endif %}" d="M.25.25h50v50h-50z"/>
                                    <path class="{% if previous >= 0 %}arrow{% else %}arrow-disabled{% endif %}"  d="M9.173 25.25l32.153-14.891-5.566 6.201-.102.109c-4.777 5.213-4.777 11.947.006 17.166l5.663 6.307L9.173 25.25zm8.15-.001l12.505 5.792c-1.568-3.76-1.568-7.82-.002-11.58l-12.503 5.788z"/>
                                </g>
                            </svg>
                    {% if previous >= 0 %}
                        </a>
                    {% endif %}
                </div>
                <div>
                    {% if next < comments|length %}
                        <a class="m-3" href="{{ path('show_figure', { slug: figure.slug, offset: next  }) }}">
                    {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="50.5" height="50.5">
                                <g>
                                    <path class="{% if next < comments|length %}frame{% else %}frame-disabled{% endif %}" d="M.25.25h50v50h-50z"/>
                                    <path class="{% if next < comments|length %}arrow{% else %}arrow-disabled{% endif %}" d="M41.327 25.25L9.174 40.141l5.566-6.201.102-.109c4.777-5.213 4.777-11.947-.006-17.166l-5.663-6.307L41.327 25.25zm-8.15.001l-12.505-5.792c1.568 3.76 1.568 7.82.002 11.58l12.503-5.788z"/>
                                </g>
                            </svg>
                    {% if next < comments|length %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
